body {
    font-family: Jost, sans-serif !important;
    overflow-x: hidden !important;
}

.head1 {
    background-color: #f8b864 !important;
}

.btn {
    background-color: #f8b864 !important;
}

.slidertext {
    bottom: 35% !important;
}

.slidertext .sliderh1 {
    font-size: 62px !important;
    font-weight: 600 !important;
    padding: 10px !important;
}

.slidertext .sliderp {
    font-size: 16px !important;
    padding: 10px !important;
}

.cards {
    margin-left: 20% !important;
    margin-top: -4em !important;
    width: fit-content !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px !important;
    margin-bottom: 5em;
}

.cards img {
    margin: 0.5em 0 1em !important;
}

.cards .link:hover {
    color: #f0a13a !important;
    text-decoration: underline !important;
}

.content {
    text-align: center !important;
}

.causescards {
    margin-left: 20% !important;
    margin-top: 5em !important;
    margin-bottom: 6em !important;
}

.causescards .card {
    border: 2px dashed rgb(219, 218, 218) !important;
    color: #555 !important;
}

.card h3 {
    color: black;
}

.causescards .link:hover {
    color: #f0a13a !important;
    text-decoration: underline !important;
}

.cardimage:hover {
    opacity: 0.7 !important;
}

.causescards .btn {
    left: 15em !important;
    top: 1em !important;
    padding: 5px 2px !important;
    opacity: 0.8 !important;
}

.causescards .btn:hover {
    opacity: 1 !important;
}

.progress-bar {
    background-color: #f8b864 !important;
}

.missioncards {
    margin-top: 7em !important;
    margin-bottom: 7em !important;
}

.cardimg:hover {
    opacity: 0.8 !important;
}

.campaigns {
    background-image: url(images/featured-bg.jpg) !important;
    background-color: rgba(0, 0, 0, 0.05);
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.img-brightness-hover {
    transition: filter 0.3s ease-in-out !important;
    filter: brightness(90%) !important;
}

.img-brightness-hover:hover {
    filter: brightness(120%) !important;
}

.items {
    margin: 7em 0 !important;

}

.items .volunteercontent i {
    color: #f8b864 !important;
    margin-right: 0.5em !important;
}

.items .volunteercontent p,
.volunteers p {
    color: #555 !important;
}

.items .profiles .img:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px !important;
    transform: scale(1.1) !important;
}

.text {
    bottom: 0.1em !important;
    left: 3.5em !important;
    text-align: center !important;
    opacity: 0 !important;
}

.text h5 {
    color: #f0a13a !important;
}

.text:hover {
    opacity: 1 !important;
}

.counter {
    background-image: url(images/counters-bg.jpg) !important;
    background-repeat: no-repeat !important;
    background-position: center center;
    background-size: cover !important;
    height: 500px !important;
    width: 100vw !important;
    margin-bottom: 100px !important;
}

.counter .boxes h1 {
    color: #f8b864 !important;
    margin: 0.5em 0 !important;
}

.counter .boxes {
    padding-top: 12em !important;
}

.content1,
.content2,
.content3 {
    border: 1px dashed rgb(218, 212, 212) !important;
}

.events .para {
    margin-top: -30px !important;
    margin-bottom: 3em !important;
}

.events h1 {
    margin-bottom: 1.5em !important;
}